header {
  background-color: #fff;

  .header-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: $primary;
    text-decoration: none;
  }

  .login-logout {
    display: flex;
    gap: 15px;
  }

  span.add {
    font-size: 2rem;
    color: white;
    bottom: 3rem;
    right: 3rem;
    max-width: 500px;
    background-color: $primary;
    border-radius: 50%;


    &:hover {
      cursor: pointer;
    }
  }

}