header {
  background-color: #fff;
  opacity: 0.6;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
  }

  .header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: $primary;
    text-decoration: none;
  }


}