// RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// BASE STYLES
body {
  height: 100vh;
  font-family: "Poppins";
  background-image: url("./../assets/images/grass.jpg");
  background-repeat: repeat;
}

img {
  width: 100%;
}

.pages {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 4px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;

  .error {
    border: 1px solid $error;
  }
}

button {
  background: $primary;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid $error;
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

Link {
  text-decoration: none;
}