//COLORS

$primary: hsl(163, 74%, 39%);
$error: hsl(341, 81%, 50%);

//General
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(240, 100%, 5%);

//Dark Mode

$clr-dark-text: hsl(0, 0%, 100%);
$clr-dark-background: hsl(0, 0%, 15%);